{% extends "main_page.html" %}
{% block title %}{{ num_results }} results for {{ topic }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Quotes about "{{ topic }}"</h1>
<p>Showing {{ num_results }} quotes</p>
<div id="quote-container-list">
    {% for quote_item in quotes %}
    <div class="quote-container">
        <p class="quote-text">
            {{ quote_item.quote }}
        </p>
        <p class="author-container">
            {{ quote_item.author }}
        </p>
    </div>
    <!-- <hr> -->
    {% endfor %}
</div>
{% endblock %}